.fa-home{
    color: green;
    font-size: 150px;
}

.simple-home{
    margin-left: 40rem;
}

.facebook-icon{
    color: blue;
    font-size: 10rem;
}

.fa-facebook{
    margin-left: 40rem;
}

/* 
To download Font-awesome Icons
Go To fontawesome.com --> Docs --> Hosting FontAwsome Yourself --> Download fontawesome free for the web
*/