/* align-items, justify-items, align-self, justify-self, works same as they do in flexbox. Also there is one more property by the
name of place-items : value; which will align items vertically and horizontally both at the same time. 
values for palce-items are start, end, center. Similar to place-items we have place-self for particular element. */
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns:repeat(3, 200px);
    grid-template-rows: repeat(2, 300px);
    /* align-items: flex-start;
    align-items: center;
    align-items: flex-end;
    justify-items: flex-start;
    justify-items: flex-end; */
    /* justify-items: center; */
    place-items: end;
    place-items: start;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container{
    border: 5px solid black;
}

.cell{
    padding: 2rem;
    background: #dedede;
    text-transform: uppercase;
    border: 3px solid red;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.cell-1{
    background: #581f18;
}
.cell-2{
    background: #f0a202;
}
.cell-3{
    background: #d95d39;
}
.cell-4{
    background: #202c59;
}
.cell-5{
    background: #51cb20;
}