/* 
When we are setting grid-template-columns and grid-template-rows, and lets say we have 10row and 20 columns and all of them 
are 1fr in that case we have to type our 1fr 10 times for row and 20 times for column. To tackle this we have repeat function.
Syntax : repeat(no. of times, value);
*/

.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(2, 1fr);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container{
    border: 5px solid black;
}

.cell{
    padding: 2rem;
    background: #dedede;
    text-transform: uppercase;
    border: 3px solid red;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.cell-1{
    background: #581f18;
}
.cell-2{
    background: #f0a202;
}
.cell-3{
    background: #d95d39;
}
.cell-4{
    background: #202c59;
}
.cell-5{
    background: #51cb20;
}