/* Flex shrink property shrinks the child container on changing the screen size. It is a child property and by default every element is set to flex-shrink : 1, which means that by default every flex item is gonna shrink when screen size changes, to fix the size of the element, we can set flex-shrink : 0 */

.container{
    display: flex;
    flex-wrap: wrap;
}

/* This will always keep the width of box-1 to be 250px, no matter how much the box shrinks and expands, also if we only set 
width : 250px and dont set flex-shrink, in that case upto a certain screen size only we are going to have 250px, after that it will start shrinking. Can be applied to both parents and child elements, but always apply to child elements for less bugs. */
.box-1{
    width: 250px;
    flex-shrink: 0;
}

.box-3{
    width: 250px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f3f3;
}

.container{
    border: 5px solid black;
}

.box{
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #f3f3f3;
}

.box-1{
    background: lightgreen;
}

.box-2{
    background: lightsalmon;
}
.box-3{
    background: lightskyblue;
}
.box-4{
    background: brown;
}
.box-5{
    background: chocolate;
}
.generic{
    background: turquoise;
}